body {
	padding: 20px;
}


/* Input elements */

input,
select
{
	height: 25px;
	line-height: 25px;
	font-family: inherit;
	font-size: inherit;
	vertical-align: middle;
	box-sizing: border-box;
}

input[type="text"],
select
{
	border: 1px solid #BBBBBB;
	background: #FFFFFF;
}

input[type="text"] {
	padding-left: 5px;
	padding-right: 5px;
}

input[type="submit"],
input[type="button"]
{
	padding-left: 10px;
	padding-right: 10px;
	border: none;
	background: #BBBBBB;
	cursor: pointer;
}


/* Tables */

table {
	width: 100%;
	border-collapse: collapse;
}

table th,
table td
{
	padding: 10px;
}

table th {
	text-align: left;
	cursor: pointer;
}

table tr:nth-child(odd) td {
	background-color: #EEEEEE;
}

table th a {
	 text-decoration: none;
	 color: #000;
}

.arrow-down {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 5px 0 5px;
	border-color: #000 transparent transparent transparent;
  margin-top: 3px;
	display: inline-block;
	margin-left: 5px;
}

.arrow-up {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 5px 10px 5px;
	border-color: transparent transparent #000 transparent;
	margin-top: 3px;
	display: inline-block;
}

.load-btn {
	margin-top: 10px;
	width: 100%;
}

.

.spinner {
	margin: 0 auto;
	display: block;
}

.selectedRow {
	background: aliceblue;
}

.deleteBtn {
	float: right;
}

.filters {
	background: #EEEEEE;
	padding: 10px;
	margin-bottom: 20px;
}

.filters input {
	width: 110px;
	margin-right: 10px;
}

.filters select {
	margin-right: 10px;
}
