<div class="filters">
	<label>Name:</label>
  <input type="text" ng-model="main.filters.name" ng-change="main.changeFiltering()" />

  <label>Surname:</label>
  <input type="text" ng-model="main.filters.surname" ng-change="main.changeFiltering()" />

  <label>Email:</label>
  <input type="text" ng-model="main.filters.email" ng-change="main.changeFiltering()" />

  <label>Role:</label>
  <select id="role" name="role" ng-model="main.filters.role" ng-change="main.changeFiltering()">
      <option ng-repeat="role in main.roles" value="{{role}}">{{role}}</option>
  </select>

  <label>Language:</label>
  <select id="languages" name="languages" ng-model="main.filters.lang" ng-change="main.changeFiltering()">
      <option ng-repeat="languages in main.languages" value="{{languages}}">{{languages}}</option>
  </select>
  <button ng-click="main.useFiltering()">Filtering...</button>
  <button ng-click="main.resetFiltering()">Reset</button>


  </div>
