<div>
  <filter></filter>
<button class="deleteBtn" ng-click="main.deleteUsers()">Delete users</button>
<table>
  <tr>
    <th><a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse">Name<span ng-show="sortType == 'name' && !sortReverse" class="arrow-down"></span>
          <span ng-show="sortType == 'name' && sortReverse" class="arrow-up"></span></a></th>
    <th><a href="" ng-click="sortType = 'surname'; sortReverse = !sortReverse">Surname<span ng-show="sortType == 'surname' && !sortReverse" class="arrow-down"></span>
          <span ng-show="sortType == 'surname' && sortReverse" class="arrow-up"></span></a></th>
    <th><a href="" ng-click="sortType = 'email'; sortReverse = !sortReverse">Email<span ng-show="sortType == 'email' && !sortReverse" class="arrow-down"></span>
          <span ng-show="sortType == 'email' && sortReverse" class="arrow-up"></span></a></th>
    <th><a href="" ng-click="sortType = 'role'; sortReverse = !sortReverse">Role<span ng-show="sortType == 'role' && !sortReverse" class="arrow-down"></span>
          <span ng-show="sortType == 'role' && sortReverse" class="arrow-up"></span></a></th>
    <th><a href="" ng-click="sortType = 'lang'; sortReverse = !sortReverse">Lang<span ng-show="sortType == 'lang' && !sortReverse" class="arrow-down"></span>
          <span ng-show="sortType == 'lang' && sortReverse" class="arrow-up"></span></a></th>
    <th><a href="" ng-click="sortType = 'created'; sortReverse = !sortReverse">Created<span ng-show="sortType == 'created' && !sortReverse" class="arrow-down"></span>
          <span ng-show="sortType == 'created' && sortReverse" class="arrow-up"></span></a></th>
    <th><a href="" ng-click="sortType = 'updated'; sortReverse = !sortReverse">Updated<span ng-show="sortType == 'updated' && !sortReverse" class="arrow-down"></span>
          <span ng-show="sortType == 'updated' && sortReverse" class="arrow-up"></span></a></th>
    <th></th>
    <th></th>
  </tr>
  <tr ng-repeat="item in main.users | orderBy:sortType:sortReverse">
    <td>{{item.name}}</td>
    <td>{{item.surname}}</td>
    <td>{{item.email}}</td>
    <td>{{item.role | formatingRole}}</td>
    <td>{{item.lang | formatingLang}}</td>
    <td>{{item.created | formatingDate}}</td>
    <td>{{item.updated | formatingDate}}</td>
    <td row-select="row"><input type="checkbox" name="user" ng-click="main.select(item.id)" /></td>
    <td><button ng-click="main.deleteItem(item.id)">Delete</button></td>
  </tr>
</table>

<button ng-if="main.loadBtnEnable" class="load-btn" ng-click="main.loadMore()">Load more...</button>
<loader></loader>
</div>
